.hero {
  min-height: 550px;

  display: flex;
  align-items: center;
  justify-content: center;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}


.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}
